.navigation {
  background: transparent;
  height: 10vh;
  color: #fff;

  &__logo {
    display: inline-block;
    padding-top: 0.35rem;
    padding-left: 2rem;
    font-family: "Yesteryear", cursive;
    font-size: 2.5rem;
  }

  &__links {
    padding-top: 1.35rem;
    display: none;
    float: right;
    padding-right: 2rem;

    @include medium {
      display: block;
    }

    & a {
      text-decoration: none;
      transition: all 0.35s ease-in-out;
      color: #fff;

      & li {
        display: inline;
        margin: 0 1.5rem;
      }

      &:hover {
        color: yellow;
      }
    }
  }
}
